<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="/static/css/my-login.css">
</head>

<body>
<div class="logo_box">
    <input class="logo_img">
</div>
<div class="login_box">
    <h1 class="title">欢迎登录</h1>
    <form method="post">
        <input class="input_box" name="username" type="text" placeholder="用户名">
        <input class="input_box" name="password" type="password" placeholder="密码">
        {#            <input class="button_box" type="submit" value="登录">#}
        <div id="shiny-shadow">
            <button type="submit">登录</button>
        </div>
    </form>
</div>
</body>
</html>