<div class="flex-container">
    <div class="screen">
        <h5>房间：{{ room_id.1 }}</h5>
        <p id="r1">状态:{{ state.1 }}</p>
        <p>风速：{{ fan_speed.1 }}</p>
        <p>室内温度：{{ current_temp.1 }}℃</p>
        <p>费用：{{ fee.1 }}</p>
        <p>设定温度：{{ target_temp.1 }}℃</p>
        <p>费率：{{ fee_rate.1 }}</p>
        <p>模式：{{ mode.1 }}</p>
    </div>
    <div class="screen">
        <h5>房间：{{ room_id.2 }}</h5>
        <p id="r2">状态:{{ state.2 }}</p>
        <p>风速：{{ fan_speed.2 }}</p>
        <p>室内温度：{{ current_temp.2 }}℃</p>
        <p>费用：{{ fee.2 }}</p>
        <p>设定温度：{{ target_temp.2 }}℃</p>
        <p>费率：{{ fee_rate.2 }}</p>
        <p>模式：{{ mode.2 }}</p>
    </div>
    <div class="screen">
        <h5>房间：{{ room_id.3 }}</h5>
        <p id="r3">状态:{{ state.3 }}</p>
        <p>风速：{{ fan_speed.3 }}</p>
        <p>室内温度：{{ current_temp.3 }}℃</p>
        <p>费用：{{ fee.3 }}</p>
        <p>设定温度：{{ target_temp.3 }}℃</p>
        <p>费率：{{ fee_rate.3 }}</p>
        <p>模式：{{ mode.3 }}</p>
    </div>
    <div class="screen">
        <h5>房间：{{ room_id.4 }}</h5>
        <p id="r4">状态:{{ state.4 }}</p>
        <p>风速：{{ fan_speed.4 }}</p>
        <p>室内温度：{{ current_temp.4 }}℃</p>
        <p>费用：{{ fee.4 }}</p>
        <p>设定温度：{{ target_temp.4 }}℃</p>
        <p>费率：{{ fee_rate.4 }}</p>
        <p>模式：{{ mode.4 }}</p>
    </div>
    <div class="screen">
        <h5>房间：{{ room_id.5 }}</h5>
        <p id="r5">状态:{{ state.5 }}</p>
        <p>风速：{{ fan_speed.5 }}</p>
        <p>室内温度：{{ current_temp.5 }}℃</p>
        <p>费用：{{ fee.5 }}</p>
        <p>设定温度：{{ target_temp.5 }}℃</p>
        <p>费率：{{ fee_rate.5 }}</p>
        <p>模式：{{ mode.5 }}</p>
    </div>
</div>
