<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>Reception and Report</title>
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- global stylesheets -->
    <!--    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">-->
    <!--    <link rel="stylesheet" href="/static/css/font-icon-style.css">-->
    <!--    <link rel="stylesheet" href="/static/css/style.default.css" id="theme-stylesheet">-->
    <link rel="stylesheet" href="/static/css/receptitionist.css">
    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/static/css/form.css">

</head>

<body>

<!--====================================================
                     MAIN NAVBAR
======================================================-->
<div class="top-bar">
    空调费用明细开具
</div>

<!--====================================================
                    PAGE CONTENT
======================================================-->

<!--***** BASIC FORM *****-->
<div class="card form" id="form1">
    <div class="card-header">
        <h3>打印单据</h3>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <form action="/recp_submit" method="get">
                <div class="form-group">
                    <label for="exampleSelect1" , class="custom-label">单据类型</label>
                    <select class="form-control" id="exampleSelect1" name="type">
                        <option value="rdr" selected>详单</option>
                        <option value="bill">账单</option>
                    </select>

                    <label class="custom-label">房间号</label>
                    <input class="form-control" name="room_id">

                    <label class="custom-label">入住日期-退房日期</label>
                    <div class="col-9 custom-left custom-width">
                        <input class="form-control" type="date" value="2024-05-24" name="begin_date">
                    </div>
                    <div class="col-9 custom-left custom-width">
                        <input class="form-control" type="date" value="2024-05-31" name="end_date">
                    </div>
                </div>
                <input type="submit" class="button_2" value="打印">
            </form>
        </div>
    </div>
</div>
</body>
</html>
